<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220072697173-uisljm0thbma48on24guc56qu30dt9hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220072697173-uisljm0thbma48on24guc56qu30dt9hl</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ6fiyUYvizbJzveN2RQ7-6n5uAFo5Yf8</string>
	<key>GCM_SENDER_ID</key>
	<string>220072697173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikersGarage</string>
	<key>PROJECT_ID</key>
	<string>bikers-garage-3641a</string>
	<key>STORAGE_BUCKET</key>
	<string>bikers-garage-3641a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220072697173:ios:d7775344ae11edf92723dc</string>
</dict>
</plist>